.command-bar-wrapper {
    margin-top: 0.5rem;
    border-radius: 3px;
    margin-right: 1.5rem;
    margin-right: 0.5rem;
}

.filter-button {
    padding-bottom: 0.5rem !important;
    margin-right: 0rem !important;
}

.search-bar-wrapper {
    width: 166px;
    display: inherit;
}

.discover-search-icon {
    cursor: pointer !important;
    margin-left: -2rem;
    margin-top: 0.6rem;
}

.filter-icon-filled {
    color: #6264A7;
}

.filter-icon:hover, .menu-filter-icon:hover {
    color: #6264A7;
}

.menu-filter-icon {
    padding-right: 0rem !important;
}

.dropdown-yourlearningtab .ui-dropdown__container {
    width: 10.1rem !important;
}

.dropdown-yourlearningtab .ui-list {
    width: 10.1rem !important;
    cursor: pointer;
}

@media (max-width: 550px) {
    .search-bar-wrapper {
        width: 10rem;
    }

    .filter-button {
        margin-right: -1rem !important;
    }
}
